
<div class="navbar navbar-inverse" style="height: 150px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a  class="navbar-brand" href="#" style="font-size: 36px; margin-top: 40px"> Condo Bike Company </a>
        </div>
        <ul class="nav navbar-nav" style="float: right">
            <li>
                <a class="btn btn-link" style="margin: 40px 20px 0px 20px ;" href="#StoreComponent" >STORE</a>
            </li>
            <li>
                <a class="btn btn-link" style="margin: 40px 20px 0px 20px ;" href="#TakeComponent" >TAKE</a>
            </li>
            <li>
                <a class="btn btn-link" style="margin: 40px 20px 0px 20px ;" >CONTACT</a>
            </li>
            
        </ul>
    </div>
    
</div>
