@page "/condobike"
    <div class="container" style="min-height: 600px; align-content: center;">
        <StatusStorage/>
        <div style="margin-top: 100px ; margin-bottom: 100px">
            <Store></Store>
        </div>
        <div style="margin-bottom: 100px;">
             <Take/>
        </div>
    </div>
